<% if @expert %>
<h1>Step 1. Enter a
    <i>query</i>
    and parse it.</h1>
<% end %>

<form id="nlqform" action="/answer" method="get" entype="multipart/form-data">

    <div>
        <input name="query" id="query" type="text" required="required" <% if @query %> value="<%= @query %>" <% end %> placeholder="Enter a natural language query."/>

        <a id="button-show-queries" title="Sample queries" class="button">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </a>
        <input name="target" id="target-value" type="hidden" value="<%= @target %>"/>
        <input id="endpoint-url" type="hidden" value="<%= @endpoint_url %>"/>
        <input id="need-proxy" type="hidden" value="<%= @need_proxy %>"/>
        <button id="search-button" class="button">Search</button>
        <% if @expert %>
          <button id="mode-button" type="button" class="button">Simple</button>
        <% else %>
          <button id="mode-button" type="button" class="button">Expert</button>
        <% end %>
    </div>
    <div class="nlq-options">
        <% if @expert %>
          <button id="parse-it-button" class="button">Parse it!</button>
        <% end %>
        Queries timeout in
        <input type="number" min="1" max="180" value="<%= @read_timeout %>" id="read_timeout" name="read_timeout">
        seconds.
    </div>
</form>
