<form id="nlqform" action="/answer" method="get" entype="multipart/form-data">
    <div>
        <div class="query-region">
            <input name="query" id="query" type="text" required="required" <% if @query %> value="<%= @query %>" <% end %> placeholder="Enter a natural language query."/>
        </div>
        <% if target_exists? %>
        <input name="target" type="hidden" value="<%= params['target'] %>"/>
        <% end %>
        <input id="endpoint-url" type="hidden" value="<%= @endpoint_url %>"/>
        <input id="need-proxy" type="hidden" value="<%= @need_proxy %>"/>
        <button id="search-button" class="button">Search</button>
        <button id="mode-button" type="button" class="button">Expert</button>
    </div>
    <div class="nlq-options">
        Queries timeout in
        <input type="number" min="1" max="180" value="<%= @read_timeout %>" id="read_timeout" name="read_timeout">
        seconds.
    </div>
</form>
