<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LODQA : Question-Answering over Linked Open Data</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
        <link href="js/vender/codemirror/lib/codemirror.css" rel="stylesheet">
        <link href="css/lodqa.css" media="screen" rel="stylesheet" type="text/css">
        <link href="css/progress-bar.css" media="screen" rel="stylesheet" type="text/css">
        <link href="css/answer.css" media="screen" rel="stylesheet" type="text/css">
        <link href="js/vender/font-awesome/css/font-awesome.css" rel="stylesheet">

        <script src="js/vender/codemirror/lib/codemirror.js"></script>
        <script src="js/vender/codemirror/mode/sparql/sparql.js"></script>
        <script src="js/vender/Springy/springy.js"></script>
        <script src="js/vender/jQuery/dist/jquery.min.js"></script>
        <script src="js/vender/Springy/springyui.js"></script>
        <script src="js/vender/eventemitter2/lib/eventemitter2.js"></script>
        <script type="text/javascript" src="js/unhandled-error-message.js"></script>
    </head>
    <body>
        <div id="dashboard" class="dashboard">
            <div id="header">
            	<%= erb :'dashboard/header' %>
              <div id="nlq">
              	<%= erb :'dashboard/nlq' %>
              </div>
              <%= erb :'dashboard/main-nav' %>
            </div>

            <% if !@query.nil? %>
            <div class="answer-index">
                <div class="hidden">
                    <div id="pgp"><%= @pgp.to_json %></div>
                    <div id="mappings"><%= @mappings.to_json %></div>
                    <div id="target"><%= @candidate_datasets[0][:name] %></div>
                </div>
                <% if target_exists? %>
                <strong><%= params['target'] %></strong> is being searched.
                <% else %>
                <div>
                  Following datasets are found to potentially be able to answer the question:
                </div>
                <p class="datasets">
                  <!-- A query parameter of the target may exist, but it has no value. -->
                  <%= @candidate_datasets[0][:name] %>, <%= @candidate_datasets[1..-1].map{ |e| "<a href=#{request.url.gsub(/target=/, '')}&target=#{e[:name]}>#{e[:name]}</a>"}.join(', ') %>.
                </p>
                <div>
                  However, at the moment, only the first one will be searched.
                </div>
                <div>
                  If you want another one to be searched, please cileck the name of it.
                </div>
                <% end %>
                <div class="integrated-answer-index"></div>
                <div class="detailProgressBar"></div>
                <% @candidate_datasets.each do |e| %>
                  <div class="answers-for-dataset" data-dataset="<%= e[:name] %>">
                    <div class="hidden">
                      <div class="answers-for-dataset__mappings"><%= e[:mappings].to_json %></div>
                      <input class="answers-for-dataset__endpoint-url" type="hidden" value="<%= e[:endpoint_url] %>"/>
                      <input class="answers-for-dataset__need-proxy" type="hidden" value="<%= e[:need_proxy] %>"/>
                    </div>
                  </div>
                <% end %>
                <div id="lightbox" class="hidden">
                    <p>Click to close</p>
                    <div class="content"></div>
                </div>
            </div>
            <% end %>
        </div>
    </body>
    <% if !@query.nil? %>
    <script type="text/javascript" src="js/answer.js"></script>
    <% end %>
</html>
