<div id="header">
	<%= erb :'dashboard/header' %>
</div>

<div id="nlq">
	<%= erb :'dashboard/nlq' %>
</div>

<div id="examples" class="examples examples--hidden frame">
	<%= erb :examples %>
</div>

<% if @query.nil? %>
	<div id="announce">
		<%= erb :'dashboard/announce' %>
	</div>
<% else %>
	<div id="grapheditor">
		<%= erb :'dashboard/grapheditor' %>
	</div>

	<div id="runner" class="hidden">
		<%= erb :'dashboard/runner' %>
	</div>

	<script src="js/lodqa-client.js"></script>
<% end %>

<script src="js/dashboard.js"></script>
