<div id="header">
	<%= erb :'dashboard/header' %>
</div>

<div id="nlq">
	<%= erb :'dashboard/nlq' %>
</div>

<div id="grapheditor">
	<%= erb :'dashboard/grapheditor' %>
</div>

<div id="runner">
	<%= erb :'dashboard/runner' %>
</div>

<div id="targets" class="hidden"><%= @targets.to_json %></div>
<script src="js/dashboard.js"></script>
