<div id="header">
	<%= erb :'dashboard/header' %>
</div>

<div id="nlq">
	<%= erb :'dashboard/nlq' %>
</div>

<div id="grapheditor">
	<%= erb :'dashboard/grapheditor' %>
</div>

<div id="runner">
	<%= erb :'dashboard/runner' %>
</div>

<script type="text/javascript">
	function getTargets() {
		return <%= @targets.to_json %>
	}
</script>
<script src="js/dashboard.js"></script>
