<div id="header">
	<%= erb :'dashboard/header' %>
</div>

<div id="nlq">
	<%= erb :'dashboard/nlq' %>
</div>


<% if @query.nil? %>
	<div id="announce">
		<%= erb :'dashboard/announce' %>
	</div>
	<div id="grapheditor" class="hidden">
		<%= erb :'dashboard/grapheditor' %>
	</div>

	<div id="runner" class="hidden">
		<%= erb :'dashboard/runner' %>
	</div>
<% else %>
	<div id="grapheditor">
		<%= erb :'dashboard/grapheditor' %>
	</div>

	<div id="runner" class="hidden">
		<%= erb :'dashboard/runner' %>
	</div>
<% end %>

<script src="js/dashboard.js"></script>
