<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LODQA : Question-Answering over Linked Open Data</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
        <link href="js/vender/codemirror/lib/codemirror.css" rel="stylesheet">
        <link href="css/lodqa.css" media="screen" rel="stylesheet" type="text/css">

        <script src="js/vender/codemirror/lib/codemirror.js"></script>
        <script src="js/vender/codemirror/mode/sparql/sparql.js"></script>
        <script src="js/vender/codemirror/addon/wrap/hardwrap.js"></script>
        <script src="js/vender/Springy/springy.js"></script>
        <script src="js/vender/jQuery/dist/jquery.min.js"></script>
        <script src="js/vender/Springy/springyui.js"></script>
        <script src="js/vender/eventemitter2/lib/eventemitter2.js"></script>
    </head>
    <body style="background-color: white;">
        <div style="display: none;">
          <div id="pgp"><%= @pgp.to_json %></div>
          <div id="mappings"><%= @mappings.to_json %></div>
          <div id="target"><%= @target %></div>
          <input id="endpoint-url" type="text" value="<%= @endpoint_url %>"/>
          <input id="need-proxy" type="text" value="<%= @need_proxy %>"/>
        </div>
        Show below results of '<%= @query %>':
        <div id="lodqa-results"></div>
    </body>
    <script type="text/javascript" src="js/execute.js">
    </script>
</html>
