<!DOCTYPE html>
<html lang="en">
<head>
  <title>LODQA : Question-Answering over Linked Open Data</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <link href="css/lodqa.css" media="screen" rel="stylesheet" type="text/css">
  <link href="css/progress-bar.css" media="screen" rel="stylesheet" type="text/css">
  <link href="css/grapheditor.css" media="screen" rel="stylesheet" type="text/css">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link href="js/vender/grapheditor/index.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/codemirror.min.css" rel="stylesheet">

  <script src="js/vender/Springy/springy.js"></script>
  <script src="js/vender/jQuery/dist/jquery.min.js"></script>
  <script src="js/vender/eventemitter2/lib/eventemitter2.js"></script>
  <script src="js/vender/Springy/springyui.js"></script>
  <script type="text/javascript" src="js/unhandled-error-message.js"></script>
</head>
<body>

<div id="dashboard" class="dashboard frame">
  <div id="header">
  	<%= erb :'dashboard/header' %>
    <div class="target-display">
      <span id="target-display">@<%= @target %></span>
    </div>
    <nav id="main-nav">
      <ul>
        <li><a id="mode-switch" href="#">Simple</a></li>
        <li><a href="<%= settings.target_db %>">Targets</a></li>
        <li><a href="http://www.lodqa.org/docs/intro/">Doc</a></li>
        <li><a href="https://github.com/lodqa/lodqa">Github</a></li>
        <% if session[:email] == nil %>
          <li><a href="<%= Lodqa::Oauth::EXPERT[:login] %>">Login</a></li>
        <% else %>
          <li><a href="<%= Lodqa::Oauth::EXPERT[:logout] %>">Logout</a></li>
        <% end %>
      </ul>
    </nav>
    <div id="target-box">
      <select name="target" id="target">
        <% @targets.each do |t| %>
          <% if t == @target %>
            <option value="<%= t %>" selected="selected"><%= t %></option>
          <% else %>
            <option value="<%= t %>"><%= t %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <div id="nlq">
      <h1>Step 1. Enter a
      <i>query</i>
      and parse it.</h1>

  	<%= erb :'dashboard/nlq-for-grapheditor' %>
  </div>

  <div id="examples" class="examples examples--hidden frame">
  	<%= erb :examples %>
  </div>

  <%= erb :graph %>
</div>

<div id="results" class="results results--hidden frame">
	<%= erb :results %>
</div>

<div id="lodqa-messages"></div>

<script src="js/grapheditor.js"></script>
</body>
</html>
