<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LODQA : Question-Answering over Linked Open Data</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
        <link href="css/lodqa.css" media="screen" rel="stylesheet" type="text/css">
        <link href="css/index.css" media="screen" rel="stylesheet" type="text/css">
        <link href="js/vender/font-awesome/css/font-awesome.css" rel="stylesheet">

        <script type="text/javascript" src="js/unhandled-error-message.js"></script>
    </head>
    <body>

        <div id="dashboard" class="dashboard">
            <div id="header">
                <div class="">
                    <%= erb :'dashboard/header' %>
                    <div class="dashboard__target">
                        <%= params['target'] %>
                    </div>
                </div>
                <%= erb :'dashboard/main-nav' %>
            </div>

            <div id="nlq">
                <%= erb :'dashboard/nlq' %>
            </div>
        </div>

        <div class="sample-queries">
          <ul class="sample-queries__query-list">
            <% @sample_queries.each do |sample_query| %>
              <li>
                <a class="sample-queries__link" href="<%= sample_query[:url] %>"><%= sample_query[:sample_query] %></a>
              </li>
            <% end %>
          </ul>
        </div>

    </body>
    <script src="js/index.js"></script>
</html>
