<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="js/sparql.js"></script>
<script type="text/javascript">
  var bioportal = new SPARQL({ 
    apikey: "<%= @apikey %>", 
    endpoint: "<%= @endpoint %>"
  });

  function onFailure(xhr, status) {
    $('#loading').toggle();
    var html = "<pre>" + status + "</pre>";
    html += "(See console)";
    document.getElementById("result").innerHTML = html;
    console.log("error");
    console.log(xhr);
  }

  function onSuccess(json) {
    $('#loading').toggle();
    var html = "<table border='1'>";
    for (var b in json.results.bindings) {
      html += "<tr>";
      for (var x in json.head.vars) { 
        var value = json.results.bindings[b][json.head.vars[x]];
        if (value.type == "uri")
          html += "<td><a href='"+value.value+"'>" + value.value + "</a></td>";
        else
          html += "<td>" + value.value + "</td>";
      }
      html += "</tr>";
    }
    html += "</table>";
    document.getElementById("result").innerHTML = html;
  }

  function enquire()
  {
    $('#loading').toggle();
    var query = document.getElementById("sparql").value;
    bioportal.query(query).done(onSuccess).error(onFailure);
  }
</script>

<h1>Prototype Demo (targeting <%= @oname %>)</h1>

<h2>Query</h2>
<div class="atext"><%= @atext %></div>

<h2>Semantic analysis (predicate-argument relation graph)</h2>
<!-- <img src="temporary/_pas_graph.png"> -->
<%= @pasgraph %>

<h2>Pesudo SPARQL</h2>
<div class="frame"><pre><%= @psparql %></pre></div>

<h2>Term mapping</h2>
<ul>
<% @turis.each do |term, uris| %>
<% unless @texps[term].nil? or @texps[term].empty? %>
<li><%= @texps[term] %></li>
  <ul>
    <% uris.each do |uri| %>
      <li><a href="<%= uri %>"><%= uri %></a></uri>
    <% end %>
  </ul>
<% end %>
<% end %>
</ul>

<h2>SPARQL</h2>
<textarea id="sparql" name="sparql" maxlength="1200" required="required" style="height:100px; width:100%"><%= @sparql %></textarea>
</tr>

<h2>Results</h2>
<button type="button" onclick="enquire()">get results</button><image id="loading" src="images/loader-vflff1Mjj.gif">
<div class="frame" id="result"></div>

<script type="text/javascript">
$(function(){
    $('#loading').hide();
});
</script>
</body>
</html>
