<!DOCTYPE html>
<html language="english">
<head>
<title>LODQA for BioPortal</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link href="css/lodqa.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript">
  function addvid(vid) {
    document.getElementById("vids").value += " " + vid;
  }
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="js/sparql.js"></script>
<script type="text/javascript">
  var bioportal = new SPARQL({ 
    apikey: "<%= @apikey %>", 
    endpoint: "<%= @endpoint %>"
  });

  function onFailure(xhr, status) {
    $('#loading').toggle();
    var html = "<pre>" + status + "</pre>";
    html += "(See console)";
    document.getElementById("result").innerHTML = html;
    console.log("error");
    console.log(xhr);
  }

  function onSuccess(json) {
    $('#loading').toggle();
    var html = "<table border='1'>";
    for (var b in json.results.bindings) {
      html += "<tr>";
      for (var x in json.head.vars) { 
        var value = json.results.bindings[b][json.head.vars[x]];
        if (value.type == "uri")
          html += "<td><a href='"+value.value+"'>" + value.value + "</a></td>";
        else
          html += "<td>" + value.value + "</td>";
      }
      html += "</tr>";
    }
    html += "</table>";
    document.getElementById("result").innerHTML = html;
  }

  function enquire()
  {
    $('#loading').toggle();
    var query = document.getElementById("sparql").value;
    bioportal.query(query).done(onSuccess).error(onFailure);
  }
</script>

</head>
<body>
<h1>LODQA for <%= @oname %>@BioPortal</h1>

<table class="frame">
<thead>
<tr><td>powered by <a href="http://www-tsujii.is.s.u-tokyo.ac.jp/enju/">Enju</a>, a HPSG parser.</tr>
</thead>
<tr><th>Query</th></tr>
</table>
<div class="atext"><%= @atext %></div>
<br/>

<table class="frame">
<tr><th>Semantic analysis (predicate-argument relation graph)</th></tr>
</table>
<img src="temporary/_pas_graph.png">


<table class="frame">
<tr><th>Pesudo SPARQL</th></tr>
</table>
<div class="frame"><pre><%= @psparql %></pre></div>
<br/>

<table class="frame">
<tr><th>Term mapping</th></tr>
<tr>
<td>
<ul>
<% @turis.each do |term, uris| %>
<% unless @texps[term].empty? %>
<li><%= @texps[term] %></li>
  <ul>
    <% uris.each do |uri| %>
      <li><a href="<%= uri %>"><%= uri %></a></uri>
    <% end %>
  </ul>
<% end %>
<% end %>
</ul>
</td>
</tr>
</table>

<table class="frame">
<tr><th>SPARQL</th></tr>
<tr>
<td><textarea id="sparql" name="sparql" maxlength="1200" required="required" style="height:100px; width:100%"><%= @sparql %></textarea></td>
</tr>
</table>

<table class="frame">
<tr><th>Results</th></tr>
<tr><td><button type="button" onclick="enquire()">get results</button><image id="loading" src="images/loader-vflff1Mjj.gif"></td></tr>
</table>
<div class="frame" id="result"></div>

<script type="text/javascript">
$(function(){
    $('#loading').hide();
});
</script>
</body>
</html>
