<head>
  <title>Queued Search</title>
  <style>
    table{
      width: 50%;
      border-collapse:separate;
      border-spacing: 0;
      font-size: 10pt;
    }

    table th{
      text-align: left;
      background: #cccccc;
      border: 1px solid #718598;
      box-shadow: 0px 1px 1px rgba(255,255,255,0.3);
      width: 20%;
      padding: 10px 0;
    }

    table td{
      text-align: left;
      border: 1px solid #718598;
      box-shadow: 0px -3px 5px 1px #eee inset;
    }
  </style>
</head>
<body>
  <h1>Search detail</h1>
  <tr>
    <td><a href="#" onclick="history.go(-1)">Back</a></td>
  </tr>

  <table>
    <tr>
      <th>Search id</th>
      <td><%= @search['search_id'] %></td>
    </tr>
    <tr>
      <th>Query</th>
      <td><%= @search['query'] %></td>
    </tr>
    <tr>
      <th>Read timeout</th>
      <td><%= @search['read_timeout'] %></td>
    </tr>
    <tr>
      <th>SPARQL limit</th>
      <td><%= @search['sparql_limit'] %></td>
    </tr>
    <tr>
      <th>Answer limit</th>
      <td><%= @search['answer_limit'] %></td>
    </tr>
    <tr>
      <th>Target</th>
      <td><%= @search['target'] %></td>
    </tr>
    <tr>
      <th>Private</th>
      <td><%= @search['private'] %></td>
    </tr>
    <tr>
      <th>State</th>
      <td><%= @search['state'] %></td>
    </tr>
    <tr>
      <th>Created at</th>
      <td><%= @search['created_at'] %></td>
    </tr>
    <tr>
      <th>Started at</th>
      <td><%= @search['started_at'] %></td>
    </tr>
    <tr>
      <th>Finished at</th>
      <td><%= @search['finished_at'] %></td>
    </tr>
    <tr>
      <th>Referred at</th>
      <td><%= @search['referred_at'] %></td>
    </tr>
    <tr>
      <th>Elapsed Time(s)</th>
      <td><%= @search['elapsed_time'] %></td>
    </tr>
    <tr>
      <th>Number of answers</th>
      <td><%= @search['number_with_precision'] %></td>
    </tr>
  </table>
</body>
